.book_list {
    background-color: #F1F1F1;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(196, 194, 196, 1);
    margin: 20px;
    height: 350px;
    width: 100%;
    padding: 50px 40px;
}

.booklist_heading {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.mat-elevation-z8 {
    border-radius: 10px;
}

::ng-deep table {
    width: 100%;
    border-radius: 10px;
}

::ng-deep .mat-elevation-z8 thead {
    background-color: table !important;
}

::ng-deep thead {
    background-color: #b5b5b5 !important;
}

::ng-deep tbody {
    background-color: #e7e7e7 !important;
}

.btn_theme {
    background-color: transparent;
    font-size: 16px;
    border: none;
}

.eye {
    color: #008fbc;
}

.pen {
    color: #4d4d4d;
}

.delete {
    color: #d20000;
}

td.mat-cell {
    border-bottom-style: none;
}

th.mat-header-cell {
    border-bottom-style: none;
}

.mat-cell {
    padding: 0px 20px;
    font-size: 14px;
    min-height: 48px;
    border-right: 1px solid #d7d7d7;
}

.mat-header-cell {
    padding: 0px 20px;
    font-size: 14px;
    min-height: 48px;
    border-right: 1px solid #d7d7d7;
}
.book_list_main{
    display: flex;
}


/* modal */

.details_modal {
    width: 45%;
    background-color: #F1F1F1;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(196, 194, 196, 1);
    margin: 20px;
    padding: 50px 40px;
}
.modal_heading h2{
    font-size: 18px;
}
.input_box label{
    font-size: 14px;
}
.input_part{
    display: flex;
    gap: 20px;
}
.input_theme{
    margin-top: 5px;
    background-color: #c8c8c8;
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
}
.input_theme{
    background-color: #d20000;
}

/* delete */

.delete_modal {
    position: fixed;
    top: 35%;
    left: 41%;
    width: 24%;
    background-color: #F1F1F1;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 4px rgba(196, 194, 196, 1);
    margin: 20px;
    padding: 35px 40px;
}
.que_mark{
    text-align: center;
}
.question{
    color: #ff9900;
    font-size: 45px;
}
.que_mark h3{
    color: #202020;
    font-size: 22px;
    margin: 0;
    padding-top: 10px;
}
.delete_btn_group{
    gap: 20px !important;
    text-align: center;
    margin-top: 24px;
}
.modal_btn_theme{
    margin: 0px 10px;
    padding: 6px 36px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 37%);
    border-radius: 6px;
    background-color: #d9d9d9;
    border: none;
    color: #000;
    font-weight: bold;
}

/* delete modal two */
.save-mdl{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.bg-drop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    opacity: 1;
    background: rgba(0,0,0,.32);
}
.save-mdl .start-mdl{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    top: 48%;
    left: 56.1%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 51px 70px;
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;
}
.save-mdl .start-mdl .content .icon{
    background: #008E06;
    color: white;
    border-radius: 50%;
    font-size: 26px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.save-mdl .start-mdl .content h4{
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
}


@media (min-width:991px){
    .book_list{
        margin-inline-start: auto;
    }
}
@media(max-width:1399px){
    .mat-header-cell{
        padding: 0px 10px;
    }
    .mat-cell{
        padding: 0px 10px;
    }
}
@media (max-width:991px){
    .book_list{
        width: 100%;
    }
}

