

<div class="sidebar">
    <div class="heading">
        <div class="sidebar_heading">
            <i class="fa-duotone fa-book-open"></i>
            <h2>Library Managemente</h2>
        </div>
    </div>
    <div class="sidebar_menu">
        <ul class="main_menu">
            <li><a href="#"> <i class="fa-solid fa-books-medical menu_icon"></i> Add Book</a></li>
            <button class="btn_theme" (click)="goto()"><i class="fa-regular fa-bars menu_icon"></i> Book List</button>
        </ul>
    </div>
</div>